:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul: #002F52;
    --fonte-principal: "Poppins", sans-serif;

}

.rodape{
    background-color: var(--branco);
    padding: 1em;
    font-size: 14px;  
    
}

